.container {
    display: flex;
    flex-direction: row;

  }
  .container1 {
    display: flex;
    flex-direction: row-reverse;

  }

  .container2 {
    display: flex;
    flex-direction: column;

  }

  .container3 {
    display: flex;
    flex-direction: column-reverse;

  }

  .item {
    background: cyan;
    padding: 10px;
    margin: 10px;
  }	  